.logo-404 {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-bottom: 40px;
  background-color: black;
}

.container {
  width: 100%;
  min-width: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
